html {
  background-color:#2e3440;
}

body {
  flex-direction: column;
  align-items: center;
  display: flex;
}

h1 {
  font-weight: bold;
  color: #eceff4;
  font-size: 50px;
}

button {
  background-color: #eceff4;
  transition-duration: 0.4s;
  border-radius: 5px;
  color: #2e3440;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 100px;
}

button:hover {
  cursor: pointer;
  background-color: #8fbcbb;
  color: #e5e9f0;
}

button:clicked {
  background-color:#eceff4;
}

.container {
  margin: 20px 0px;
  flex-wrap: wrap;
  display: flex;
  height: 650px;
  width: 650px;
}

.grid {
  border: #2e3440 0.5px solid;
  background-color: #e5e9f0;
  box-sizing: border-box;;
} 
